
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
}

main {
    flex: auto;
    background-color: #ccc;
}

footer {
    height: 25px;
}


#guessArea{
    background-color: #dd4a4a;
    margin: 0 auto; width: 656px; text-align: center;
}

#question{
    display: none;
    color: white;
    text-align: left;
    margin-left: 3%;
    padding: 5px;
}

.guesses{
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    padding: 15px;
    width: 45%;
}

.guesses:hover{
    background-color: white;
    color: #555555;
    border: 2px solid #555555;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    padding: 15px;
    width: 45%;
}

.guesses:disabled{
    background-color: #555555;
    color: #555555;
    border: 2px solid #555555;
    -webkit-transition-duration: 0.4s;
    cursor: not-allowed;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    padding: 15px;
    width: 45%;
}

#nextButton{
    display: none;
    background-color: green;
    color: white;
    border: 2px solid #555555;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    margin-left: 4%;
    padding: 15px;
    width: 45%;
}

#wordToGuess{
    font-size: 1.2em;
    color: blue;
}